<nav class="navbar bg-light">
    <div class="container-fluid">
      <span class="navbar-brand h1">
        <img src="./assets/imagenes/Group 439.png" class="img-logo">
      </span>      
      <div>
      <!-- Example single danger button -->
<div class="btn-group">
    
    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-lg-end">
      <li><a class="dropdown-item" href="#">Inicio</a></li>
      <li><a class="dropdown-item" href="#">Perfil</a></li>
      <li><a class="dropdown-item" href="#">Recetas</a></li>
      <li><a class="dropdown-item" href="#">configuracion</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Cerrar sesion</a></li>
    </ul>
  
</div>   

</div>  
</div>
</nav>
<div class="block-center">
  <app-aside></app-aside>
  <div class="section">   
    <h1>Kitchen Recipes</h1>    

    <div class="card" style="width: 50rem;">
      <img src="/assets/imagenes/comida-header.jpg" class="card-img-top" alt="...">
      <div class="card-header">Nombre de la receta</div>
      <div class="card-body">
  
        <h5 class="card-title">Que se necesita para empezar</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
        <h5 class="card-title">Ingredientes</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
        <h5 class="card-title">Preparacion</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
  
  
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Tiempo de preparacion</li>
        <li class="list-group-item">Calorias</li>
        <li class="list-group-item">Es vegana</li>
        <li class="list-group-item">Es vegetariana</li>

        <li class="list-group-item">Es apta para celiacos</li>
        <li class="list-group-item">Es apta para hipertensos</li>
        <li class="list-group-item">Precio estimado</li>
        <li class="list-group-item">Origen</li>   
      </ul>
      <div class="card-body text-center">       
        <a href="#" class="btn btn-primary">Regresar</a>
      </div>
    </div>
      
    </div> 
  </div>
  
 