
<div class="section">   
    <h1>Kitchen Recipes</h1>


 <div class="bottom-group">  
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"> <img src="./assets/imagenes/search.png" class="input-icon"></span>
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" (change)="findAll()" automplete=’on’>
 </div>

 
  <div class="input-group mb-3 bottun-dropdown boton">    
    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Filtrar por</button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="#">No vista</a></li>
      <li><a class="dropdown-item" href="#">Vista</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Mejor puntuacion</a></li>     
      <li><a class="dropdown-item" href="#">Mas activas</a></li>
   
    </ul>
  </div>
</div>
  
<div class="bottom-group-2">
  <div class="input-group mb-3 bottun-dropdown">    
    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Filtrar por</button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="#">No vista</a></li>
      <li><a class="dropdown-item" href="#">Vista</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Mejor puntuacion</a></li>     
      <li><a class="dropdown-item" href="#">Mas activas</a></li>
   
    </ul>
  </div>


  <div class="input-group mb-3 bottun-dropdown">    
    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Filtrar por</button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="#">No vista</a></li>
      <li><a class="dropdown-item" href="#">Vista</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Mejor puntuacion</a></li>     
      <li><a class="dropdown-item" href="#">Mas activas</a></li>
   
    </ul>
  </div>
  
  <div class="input-group mb-3 bottun-dropdown">    
    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Filtrar por</button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="#">No vista</a></li>
      <li><a class="dropdown-item" href="#">Vista</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Mejor puntuacion</a></li>     
      <li><a class="dropdown-item" href="#">Mas activas</a></li>
   
    </ul>
  </div>

</div>



<app-tabla class="table"></app-tabla>


<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

</div>