<!-- As a link 
<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
    </div>
  </nav> -->
  
  <!-- As a heading -->
  <nav class="navbar bg-light">
    <div class="container-fluid" id="prueba">
      <span class="navbar-brand h1">
        <img src="./assets/imagenes/Group 439.png" class="img-logo">
      </span>      
      <div>
      <button type="button"  routerLink="/registro" class="btn btn-info m-1">Registro</button>  
      <button type="button" routerLink="/login" class="btn btn-info m-1">Iniciar sesion</button>    
    </div>  
    </div>
    </nav>

